# Node modules and dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*

# Git files
.git
.gitignore

# Docker files
.dockerignore
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml

# Logs
logs
*.log

# Documentation and readme files
README.md
docs

# Testing files
test
tests
coverage

# OS specific files
.DS_Store
Thumbs.db

# Project specific files that shouldn't be in the Docker image
*.zip
*.pdf 