# Dependencies
node_modules
npm-debug.log
package-lock.json

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.yml
docker-compose.override.yml
docker-compose.prod.yml

# Logs
logs
*.log

# Documentation
README.md
docs
*.md

# Testing
test
tests
coverage

# OS
.DS_Store
Thumbs.db

# Project specific
*.zip
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx 