PORT = 3000
PG_CONNECTION_STRING = postgres://christian_sbd2:tianrider1234@sbd.christianhadiwijaya.me:5433/express_christianhadiwijaya?sslmode=disable
CLOUDINARY_URL=cloudinary://379555977449799:JmuNVIN0s8367PrvKSZZO7T1CSU@djvdforcq
# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false
JWT_SECRET=boboiboySolar
JWT_EXPIRY=24h